USE [QuizSystem]
GO
/****** Object:  Table [dbo].[Answer]    Script Date: 8/31/2018 10:32:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answer](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[QuestionID] [int] NULL,
	[IsCorrectAnswer] [bit] NULL,
	[Content] [nvarchar](500) NULL,
 CONSTRAINT [PK_Answer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 8/31/2018 10:32:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](500) NULL,
 CONSTRAINT [PK_Question] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionQuiz]    Script Date: 8/31/2018 10:32:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionQuiz](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[QuestionID] [int] NULL,
	[QuizID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quiz]    Script Date: 8/31/2018 10:32:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quiz](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[OwnedBy] [int] NULL,
 CONSTRAINT [PK_Quiz] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizSession]    Script Date: 8/31/2018 10:32:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizSession](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[QuizID] [int] NULL,
	[StartedBy] [int] NULL,
	[StartedDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[IsInProgress] [bit] NULL,
 CONSTRAINT [PK_QuizSession] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 8/31/2018 10:32:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentQuizAnswer]    Script Date: 8/31/2018 10:32:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentQuizAnswer](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[QuizSessionID] [int] NULL,
	[QuizID] [int] NULL,
	[QuestionID] [int] NULL,
	[AnswerID] [bigint] NULL,
	[CreatedTime] [datetime] NULL,
	[UpdatedTime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentQuizSession]    Script Date: 8/31/2018 10:32:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentQuizSession](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[QuizSessionID] [int] NULL,
	[StudentID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 8/31/2018 10:32:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Teacher] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Answer] ON 

INSERT [dbo].[Answer] ([ID], [QuestionID], [IsCorrectAnswer], [Content]) VALUES (1, 1, 1, N'A planet in our solar system')
INSERT [dbo].[Answer] ([ID], [QuestionID], [IsCorrectAnswer], [Content]) VALUES (2, 1, 0, N'An orbit in our solar system')
INSERT [dbo].[Answer] ([ID], [QuestionID], [IsCorrectAnswer], [Content]) VALUES (3, 1, 0, N'A comet in our solar system')
SET IDENTITY_INSERT [dbo].[Answer] OFF
SET IDENTITY_INSERT [dbo].[Question] ON 

INSERT [dbo].[Question] ([ID], [Content]) VALUES (1, N'What is Mars called?')
INSERT [dbo].[Question] ([ID], [Content]) VALUES (3, N'How long does light from the sun take to reach the Earth?')
INSERT [dbo].[Question] ([ID], [Content]) VALUES (4, N'Is Java Web hard?')
SET IDENTITY_INSERT [dbo].[Question] OFF
SET IDENTITY_INSERT [dbo].[QuestionQuiz] ON 

INSERT [dbo].[QuestionQuiz] ([ID], [QuestionID], [QuizID]) VALUES (1, 1, 1)
INSERT [dbo].[QuestionQuiz] ([ID], [QuestionID], [QuizID]) VALUES (2, 3, 1)
INSERT [dbo].[QuestionQuiz] ([ID], [QuestionID], [QuizID]) VALUES (3, 4, 1)
SET IDENTITY_INSERT [dbo].[QuestionQuiz] OFF
SET IDENTITY_INSERT [dbo].[Quiz] ON 

INSERT [dbo].[Quiz] ([ID], [Title], [CreatedDate], [OwnedBy]) VALUES (1, N'Funny Quiz for Workshop Class', CAST(N'2018-08-23T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Quiz] ([ID], [Title], [CreatedDate], [OwnedBy]) VALUES (2, N'Progress Test 1', CAST(N'2018-08-30T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Quiz] OFF
SET IDENTITY_INSERT [dbo].[QuizSession] ON 

INSERT [dbo].[QuizSession] ([ID], [Code], [QuizID], [StartedBy], [StartedDate], [EndDate], [IsInProgress]) VALUES (1, N'ABC1234A', 1, 1, NULL, NULL, 1)
INSERT [dbo].[QuizSession] ([ID], [Code], [QuizID], [StartedBy], [StartedDate], [EndDate], [IsInProgress]) VALUES (3, N'PT1', 2, 1, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[QuizSession] OFF
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([ID], [Name]) VALUES (1, N'hoapnse05740')
INSERT [dbo].[Student] ([ID], [Name]) VALUES (2, N'hoapnse05740')
INSERT [dbo].[Student] ([ID], [Name]) VALUES (3, N'nhattqSE05741')
GO
SET IDENTITY_INSERT [dbo].[Student] OFF
SET IDENTITY_INSERT [dbo].[StudentQuizAnswer] ON 

INSERT [dbo].[StudentQuizAnswer] ([ID], [StudentID], [QuizSessionID], [QuizID], [QuestionID], [AnswerID], [CreatedTime], [UpdatedTime]) VALUES (1, 1, 1, 1, 1, 1, CAST(N'2018-08-23T13:52:07.160' AS DateTime), NULL)
INSERT [dbo].[StudentQuizAnswer] ([ID], [StudentID], [QuizSessionID], [QuizID], [QuestionID], [AnswerID], [CreatedTime], [UpdatedTime]) VALUES (4, 2, 1, 1, 3, 2, NULL, NULL)
INSERT [dbo].[StudentQuizAnswer] ([ID], [StudentID], [QuizSessionID], [QuizID], [QuestionID], [AnswerID], [CreatedTime], [UpdatedTime]) VALUES (5, 2, 1, 1, 3, 2, CAST(N'2018-08-24T10:53:05.170' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[StudentQuizAnswer] OFF
SET IDENTITY_INSERT [dbo].[StudentQuizSession] ON 

INSERT [dbo].[StudentQuizSession] ([ID], [QuizSessionID], [StudentID]) VALUES (1, 1, 1)
INSERT [dbo].[StudentQuizSession] ([ID], [QuizSessionID], [StudentID]) VALUES (2, 1, 1053)
INSERT [dbo].[StudentQuizSession] ([ID], [QuizSessionID], [StudentID]) VALUES (3, 1, 1054)
SET IDENTITY_INSERT [dbo].[StudentQuizSession] OFF
SET IDENTITY_INSERT [dbo].[Teacher] ON 

INSERT [dbo].[Teacher] ([ID], [Name]) VALUES (1, N'Tran Binh Duong')
SET IDENTITY_INSERT [dbo].[Teacher] OFF
ALTER TABLE [dbo].[Answer]  WITH CHECK ADD  CONSTRAINT [FK_Answer_Question] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Question] ([ID])
GO
ALTER TABLE [dbo].[Answer] CHECK CONSTRAINT [FK_Answer_Question]
GO
ALTER TABLE [dbo].[QuestionQuiz]  WITH CHECK ADD  CONSTRAINT [FK_QuestionQuiz_Question] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Question] ([ID])
GO
ALTER TABLE [dbo].[QuestionQuiz] CHECK CONSTRAINT [FK_QuestionQuiz_Question]
GO
ALTER TABLE [dbo].[QuestionQuiz]  WITH CHECK ADD  CONSTRAINT [FK_QuestionQuiz_Quiz] FOREIGN KEY([QuizID])
REFERENCES [dbo].[Quiz] ([ID])
GO
ALTER TABLE [dbo].[QuestionQuiz] CHECK CONSTRAINT [FK_QuestionQuiz_Quiz]
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD  CONSTRAINT [FK_Quiz_Teacher] FOREIGN KEY([OwnedBy])
REFERENCES [dbo].[Teacher] ([ID])
GO
ALTER TABLE [dbo].[Quiz] CHECK CONSTRAINT [FK_Quiz_Teacher]
GO
ALTER TABLE [dbo].[QuizSession]  WITH CHECK ADD  CONSTRAINT [FK_QuizSession_Quiz] FOREIGN KEY([QuizID])
REFERENCES [dbo].[Quiz] ([ID])
GO
ALTER TABLE [dbo].[QuizSession] CHECK CONSTRAINT [FK_QuizSession_Quiz]
GO
ALTER TABLE [dbo].[QuizSession]  WITH CHECK ADD  CONSTRAINT [FK_QuizSession_Teacher] FOREIGN KEY([StartedBy])
REFERENCES [dbo].[Teacher] ([ID])
GO
ALTER TABLE [dbo].[QuizSession] CHECK CONSTRAINT [FK_QuizSession_Teacher]
GO
ALTER TABLE [dbo].[StudentQuizAnswer]  WITH CHECK ADD  CONSTRAINT [FK_StudentQuizAnswer_Answer] FOREIGN KEY([AnswerID])
REFERENCES [dbo].[Answer] ([ID])
GO
ALTER TABLE [dbo].[StudentQuizAnswer] CHECK CONSTRAINT [FK_StudentQuizAnswer_Answer]
GO
ALTER TABLE [dbo].[StudentQuizAnswer]  WITH CHECK ADD  CONSTRAINT [FK_StudentQuizAnswer_Question] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Question] ([ID])
GO
ALTER TABLE [dbo].[StudentQuizAnswer] CHECK CONSTRAINT [FK_StudentQuizAnswer_Question]
GO
ALTER TABLE [dbo].[StudentQuizAnswer]  WITH CHECK ADD  CONSTRAINT [FK_StudentQuizAnswer_QuizSession] FOREIGN KEY([QuizSessionID])
REFERENCES [dbo].[QuizSession] ([ID])
GO
ALTER TABLE [dbo].[StudentQuizAnswer] CHECK CONSTRAINT [FK_StudentQuizAnswer_QuizSession]
GO
ALTER TABLE [dbo].[StudentQuizAnswer]  WITH CHECK ADD  CONSTRAINT [FK_StudentQuizAnswer_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([ID])
GO
ALTER TABLE [dbo].[StudentQuizAnswer] CHECK CONSTRAINT [FK_StudentQuizAnswer_Student]
GO
ALTER TABLE [dbo].[StudentQuizSession]  WITH CHECK ADD  CONSTRAINT [FK_StudentQuizSession_QuizSession] FOREIGN KEY([QuizSessionID])
REFERENCES [dbo].[QuizSession] ([ID])
GO
ALTER TABLE [dbo].[StudentQuizSession] CHECK CONSTRAINT [FK_StudentQuizSession_QuizSession]
GO
ALTER TABLE [dbo].[StudentQuizSession]  WITH CHECK ADD  CONSTRAINT [FK_StudentQuizSession_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([ID])
GO
ALTER TABLE [dbo].[StudentQuizSession] CHECK CONSTRAINT [FK_StudentQuizSession_Student]
GO
